body{
    background-color: #dddddd;
    margin-left: 25%;
    margin-right: 25%;
}

#ferrari{
    background-color: white;
    align-items: center;
    border-radius: 10px;
}
    

#ferrari1{
    width: 600px;
    height: 300px;
    margin-left: 20px;
}

#contenido1{
    background-color: white;
    border-radius: 10px;
}

#texto{
    margin: 10%;
    text-align: justify;
}

input{
    margin-bottom: 10px;
    color: white;
    background-color: red;
    font-size: 18px;
    border-radius: 10px;
    font-size:16px;
    font-weight:bold;
}

footer{
    background-color: gray;
    text-align: center;
}